<%= form_tag(grabber_path) do %>
  <div class="control-group <%= @add_class %>">
    <%= label_tag :uri, "Введите адрес страницы", class: "control-label" %>
    <%= select_tag :scheme,
        options_for_select([["http://", "http"], ["https://", "https"]]), class: "scheme" %>
    <%= text_field_tag :uri, @uri, placeholder: "www.example.ru"  %>
  </div>
  <%= submit_tag "Поехали", class: "btn btn-success btn-large", id: "download_btn" %>
<% end %>